/* ------------------------------------Fonts------------------------------------ */

@font-face {
    font-family: logo;
    src: url(fonts/Raker.ttf);
}
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}
/* ------------------------------------Header------------------------------------ */
header{
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255);
}
header>nav.navbar{
    font-family: roboto;
    font-size: 0.90rem;
    background-color: #fff !important;
}
header li.nav-item>a.nav-link:not(.active){
    position: relative;
    color:  #646464 !important;
    margin: 0px 3px;

}
header li.nav-item>a.active{
    position: relative;
    color:  #03045E !important;
    margin: 0px 3px;

}
header li.nav-item>a:before{
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 3px;
    width: 0;
    background: #03045E;
    transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
    content: "";
}
header li.nav-item>a:hover:before{
    left: 0;
    width: 100%;
}
form.d-flex>button{
    background-color: #00b4d8;
    border: 1.5px solid #00b4d8 !important;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0px 5px;
    transition: all 200ms ease-in-out;
    &:hover{
        color: #00b4d8 !important;
        background: none !important;   
    }
    &:active{
        color: #fff !important;
        background: #00b4d8 !important;   
    }
}
header>nav.navbar img{
    height: 30px;
}

header>nav.navbar .logo, footer>div .logo{
    font-family: logo;
    margin: auto 0;
}
/* ------------------------------------Footer------------------------------------ */
footer{
    background-color: #03045E !important;
    color: white;
}
footer *{
    font-family: roboto;
}
footer ul{
    list-style: none;
    padding: 0;
}
footer ul>li>a{
    color: #aeaeae;
    text-decoration: none;
    &:hover{
        color: #fff;
        text-decoration: underline;
    }
}
footer span{
    color: #aeaeae;
}
footer #social{
    margin-top: 10px;
}
footer #social a{
    padding: 5px;
    margin-right: 3px;

}
footer p{
    margin: 0;
    padding: 5px;
}
footer .logo-div{
    display: flex;
    align-items: center;
}
footer>div img{
    height: 40px;
}